    html {
      font-size: 14px;
    }

    @media (min-width: 768px) {
      html {
        font-size: 16px;
      }
    }

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
      box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }

    html {
      position: relative;
      min-height: 100%;
    }

    body {
      margin-bottom: 60px;
    }

    .nvColor {
        background-color: #000013;
    }

    .nvText {
        color: white;
    }

    .nvText:hover {
        color: #30b5f2;
    }


    .nvText.active {
        color: #30b5f2;
    }



    .loader {
        width: 8px;
        height: 40px;
        border-radius: 4px;
        display: block;
        background-color: currentColor;
        margin: 20px auto;
        position: relative;
        color: black;
        animation: animloader 0.3s 0.3s linear infinite alternate;
    }

    .loader::after,
    .loader::before {
        content: '';
        width: 8px;
        height: 40px;
        border-radius: 4px;
        background: currentColor;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        animation: animloader 0.3s 0.45s linear infinite alternate;
    }

    .loader::before {
        left: -20px;
        animation-delay: 0s;
    }

    @keyframes animloader {
        0% {
            height: 48px;
        }

        100% {
            height: 4px;
        }
    }

    #btnlogin {
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease, border-color 0.3s ease; /* Animación para transiciones suaves */
        border: 2px solid transparent; /* Borde por defecto transparente */
    }

    #btnlogin:hover {
        background-color: #0056b3; /* Color cuando el cursor está encima */
        transform: scale(1.05); /* Efecto de ligero aumento */
        border-color: #0056b3; /* Borde con el mismo color que el fondo */
    }

    #btnlogin:active {
        background-color: #003f7f; /* Color cuando se hace clic */
        transform: scale(0.95); /* Efecto de presionado */
        border-color: #003f7f; /* Borde con el mismo color que el fondo */
    }

    .custom-link {
        color: black;
        text-decoration: none;
    }

    .custom-link:hover {
        color: blue;
        text-decoration: underline;
    }

    .custom-link:focus {
        color: blue;
        text-decoration: underline;
    }




    

   
